{{define "footer"}}
<footer>
  <hr>
  <p class="text-center">Presented on <a href="https://www.canva.com/design/DAE_6K7KQT0/f3ZMERfkZFX8yDnK6CZubw/view?utm_content=DAE_6K7KQT0&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton" target="_blank">Canva</a></p>
</footer>
{{end}}